body {
  background-color: black;
}
@mixin button {
  border: 3px solid white;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 50px;
  width: fit-content;
}

.button1 {
  @include button;
  transition: all 1s linear;
  &:hover,
  &:focus {
    color: black;
    background-color: white;
  }
}
.button2 {
  @include button;
  transition: all 1s linear;
  &:hover,
  &:focus {
    color: black;
    background-color: white;
    font-size: larger;
  }
}
.button3 {
  @include button;
  transition: all 2s linear;
  &:hover,
  &:focus {
    color: black;
    background-color: white;
    transform: translate(100px);
  }
}
